html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

#play {
  height: 100%;
  display: block;
  z-index: -1;
  position: relative;
}

canvas#screen {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 320px;
  height: 300px;
}

div#controls {
  background-color: #fff;
  width: 100%;
  min-height: -webkit-calc(100% - 300px);
}

div#home {
  display:none;
  z-index: 1000;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  background: #cccccc;
}